*{

	box-sizing: border-box;
}
body,html
{
font-family: 'Raleway', sans-serif;
padding: 0;
margin: 0;
}
#bloc_page
{
	max-width: 1200px;
	margin: 0 auto;
    padding:0px 30px 0px 30px;
    position:relative;

}


nav
{
position:absolute;
padding-right:15px;
right:0;
top: -15px;
}
nav ul li
{
list-style:none;
display:inline-block;
margin-left:40px;
height:100px;
padding-top:15px;
padding-left:10px;
padding-right:10px;
}
nav ul li:hover{

	border-top:2px solid #0065fc;
}
nav ul li a
{

text-decoration:none;
color:#000000;
}
nav ul li a:hover{
	color:#0065FC;
}
nav ul li .inscription{

	 color:#0065FC;

}

#logo
{
	width: 70px;
	height: 45px;
}
#map
{
   width: 13px;
   height: 13px;  
    
}
#bloc_recherche span:first-child{
  
    padding:10px;
    padding-left:15px;
    padding-top:9px;
    background:#eeeeee;
    height:40px;
    border-radius:10px 0 0 10px;
  
}

#bloc_recherche span:first-child svg{
    
    width:16px;
    height:16px;
  
}
#bloc_recherche input{
  
    height:40px;
    padding-left:15px;
    outline:none;
    border:1px solid #eeeeee;
  
}
#bloc_recherche span:last-child{
  
     color:#ffffff;
     background:#0065FC;
     height:40px;
     padding:10px;
	 padding-top:8px;
	 padding-bottom:11px;
     border-radius:0 10px 10px 0;
}
#filtres{
 
	 display:flex;
	 flex-wrap: wrap;
	 gap:15px;

}
.filtre
{
  	padding:0px 15px 10px 0px;
    border:1px solid #eeeeee;
    display:inline-block;
    border-radius:16px;
    height:31px;

  
}

.filtre span:first-child
{
     height:29px;
     width:29px;
	 background: #DEEBFF;
     border-radius:16px;
     position:relative; 
}
.filtre span
{
    display:inline-block;
}

/* Ce procede est le meme quand on a une image */
.filtre span:first-child img{
    width:15px;
    height:15px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate3d(-8px, -8px, 0);
  
}

.filtre span:last-child{ 
   margin-left:7px;
   transform:translate3d(0,5px,0);
   vertical-align:top;
  
}
.filtre:hover{
  
    background:blue;
    color:#ffffff;
}
#info
{
	width: 13px;
	height:13px;
}
.blue-icon path{
    
   fill:#0065FC;
 
}
.grey-icon path{
 
   fill:#F2F2F2;
}

#wrapper-all-lodgings
{
   
   display:flex;
   gap:30px;
 
}
#wrapper-area
{
 
    padding:10px 30px 10px 30px;
    width:70%; /*Pas utile pour toi tu devras trouver tes propres dimentions */
    background:#F2F2F2;
    margin-top:30px; /* Pas utile pour toi tu devras trouver tes propres dimensions */
    border-radius:15px;
    
}
#wrapper-area #flex-area
{
   display:flex;
   flex-wrap:wrap;
   gap:30px; /* Utile pour toi 
   
   https://coryrylan.com/blog/css-gap-space-with-flexbox

*/
}
#flex-area a
{
   text-decoration:none;
   color:#000000;
   display:block;
   width: calc((100% / 3) - 20px);
   height:200px;
   background:#ffffff;
   padding:3px;
   border-radius:10px;
   box-shadow: 1px 0px 3px 0px rgba(158,158,158,1);
/*     Link to generate the box-shadow: https://www.cssmatic.com/box-shadow */
}
#flex-area a img
{
   object-fit:cover;
   width:100%;
   height: 60%;
   border-radius:10px 10px 0 0;
 
}
#flex-area a *:not(img)
{
 
   margin-left:10px;
   display:inline-block;
   width:100%;
   margin-top:5px;
 
}
#flex-area a span:first-of-type
{
  
    font-weight:bold;
    font-size:1rem;
 
}
#flex-area a span:nth-of-type(2)
{
   font-size:0.9rem;
 
}

#flex-area a div:first-of-type svg
{
    width:14px;
    height:14px;
    margin:0;
 
}

/* Zone les plus populaires */
#wrapper-most-popular{
    margin-top:30px; /* Pas utile pour toi tu devras trouver tes propres dimensions */
    width:40%; /* Pas utile pour toi tu devras trouver tes propres dimensions; */
    background:#F2F2F2;
    border-radius:15px;
    padding:10px 30px 10px 30px;
    position:relative;
 
}
#wrapper-most-popular h3{
   
   display:inline-block;
 
}
#wrapper-most-popular .right-icon{
    
    width:20px;
    height:20px;
    vertical-align:middle;
    position:absolute;
    top:30px;
    right:30px;
}

#most-populars-flex{
 
   display:flex;
   flex-direction:column;
   gap:30px;
 
}
#most-populars-flex a{
   text-decoration:none;
   color:#000000;
   display:block;
   width: 100%;
   height:140px;
   background:#ffffff;
   padding:3px;
   border-radius:10px;
   box-shadow: 1px 0px 3px 0px rgba(158,158,158,1);
/*     Link to generate the box-shadow: https://www.cssmatic.com/box-shadow */
 
   display:flex;
}
#most-populars-flex a img:first-child{
   
   width:40%;
   border-radius:10px 0 0 10px;
   object-fit:cover;
 
}
#most-populars-flex a div:first-of-type{
 
    width:60%;
    padding:15px;
    position:relative;
 
}

#most-populars-flex a div:first-of-type *{
 
    display:inline-block;
    width:100%;
 
}
#most-populars-flex a div:first-of-type span:first-child{
  
    font-weight:bold;
    font-size:1rem;
 
}
#most-populars-flex a div:first-of-type span:nth-child(2){
   font-size:0.9rem;
   margin-top:10px;
 
}

#most-populars-flex a div:first-of-type div:last-child{
   
   position:absolute;
   bottom:5px;
   left:0;
   padding-bottom:0;
 
}
#most-populars-flex a div:first-of-type div:last-child svg{
    width:14px;
    height:14px;
    margin:0;
 
}
#marseille-activities{
    margin-top:50px;
  
}
#marseille-activities-flex{
     
    display:flex;
    gap:30px;
  
}
#marseille-activities-flex .marseille-activities-flex-child {
    border-radius:15px;
    width:calc(100% / 4);
    height:350px;
    text-decoration:none;
    color:#000000;
  
}

.marseille-activities-flex-child:first-child, .marseille-activities-flex-child:nth-child(3), .marseille-activities-flex-child:nth-child(2) a:first-child, .marseille-activities-flex-child:nth-child(2) a:last-child, .marseille-activities-flex-child:last-child a  {
    box-shadow: 1px 0px 3px 0px rgba(158,158,158,1);
    
}

.marseille-activities-flex-child img{
   
    width:100%;
    height:86%;
    border-radius:15px 15px 0 0;
    object-fit:cover;
    display:block;
  
}
.marseille-activities-flex-child p{
  
    font-weight:bold;
    margin-left:15px;
    display:inline-block;
  
}

.marseille-activities-flex-child:nth-child(2), .marseille-activities-flex-child:last-child{
  
     display:flex;
     flex-direction:column;
     gap:30px;
  
}

.marseille-activities-flex-child a{
  
     text-decoration:none;
    color:#000000;
  
}

.marseille-activities-flex-child:nth-child(2) a, .marseille-activities-flex-child:last-child a{
  
    border-radius:15px;
  
}

.marseille-activities-flex-child a:first-child{
  
    height:51.5%;
  
}



.marseille-activities-flex-child a:first-child img{
  
     height:75% !important;
     
}

.marseille-activities-flex-child a:last-child img{
  
    height:65% !important;
  
}

.marseille-activities-flex-child:nth-child(2) a:last-child{
    height:40%;
  
}

.marseille-activities-flex-child:last-child a:first-child{
  
     height:45%;
  
}
.marseille-activities-flex-child:last-child a:last-child{
  
    height:calc(55% - 30px);
  
}
.marseille-activities-flex-child:last-child a:first-child img{

   height:70% !important;
    
  
}
.marseille-activities-flex-child:last-child a:last-child img{

   height:70% !important;
    
  
}
#marseille-activities{
    margin-top:50px;
  
}
#marseille-activities-flex{
     
    display:flex;
    gap:30px;
  
}
#marseille-activities-flex .marseille-activities-flex-child {
    border-radius:15px;
    width:calc(100% / 4);
    height:350px;
    text-decoration:none;
    color:#000000;
  
}

.marseille-activities-flex-child:first-child, .marseille-activities-flex-child:nth-child(3), .marseille-activities-flex-child:nth-child(2) a:first-child, .marseille-activities-flex-child:nth-child(2) a:last-child, .marseille-activities-flex-child:last-child a  {
    box-shadow: 1px 0px 3px 0px rgba(158,158,158,1);
    
}

.marseille-activities-flex-child img{
   
    width:100%;
    height:86%;
    border-radius:15px 15px 0 0;
    object-fit:cover;
    display:block;
  
}
.marseille-activities-flex-child p{
  
    font-weight:bold;
    margin-left:15px;
    display:inline-block;
  
}

.marseille-activities-flex-child:nth-child(2), .marseille-activities-flex-child:last-child{
  
     display:flex;
     flex-direction:column;
     gap:30px;
  
}

.marseille-activities-flex-child a{
  
     text-decoration:none;
    color:#000000;
  
}

.marseille-activities-flex-child:nth-child(2) a, .marseille-activities-flex-child:last-child a{
  
    border-radius:15px;
  
}

.marseille-activities-flex-child a:first-child{
  
    height:51.5%;
  
}



.marseille-activities-flex-child a:first-child img{
  
     height:75% !important;
     
}

.marseille-activities-flex-child a:last-child img{
  
    height:65% !important;
  
}

.marseille-activities-flex-child:nth-child(2) a:last-child{
    height:40%;
  
}

.marseille-activities-flex-child:last-child a:first-child{
  
     height:45%;
  
}
.marseille-activities-flex-child:last-child a:last-child{
  
    height:calc(55% - 30px);
  
}
.marseille-activities-flex-child:last-child a:first-child img{

   height:70% !important;
    
  
}
.marseille-activities-flex-child:last-child a:last-child img{

   height:70% !important;
    
  
}


footer 
{
    gap:15%;

	margin-top: 40px;
   
    display: flex;
    
    width:100%;
    
	background-color: #f2f2f2; 
    
    position:absolute;

    left:0;

    padding:30px;

    padding-left:40px;
 
}
footer ul 
{
list-style: none;
margin: 0; 
padding: 0;
}
footer ul li
{
    margin-top: 10px;

}
footer ul li a
{
text-decoration: none;
color: black;
font-size: 0.85rem;
}